/openwrt-imagebuilder-18.06.9-ar71xx-generic/env
/openwrt-imagebuilder-18.06.9-ar71xx-generic/bin
/openwrt-imagebuilder-18.06.9-ar71xx-generic/logs
/openwrt-imagebuilder-18.06.9-ar71xx-generic/feeds
/openwrt-imagebuilder-18.06.9-ar71xx-generic/feeds.conf
/openwrt-imagebuilder-18.06.9-ar71xx-generic/overlay
/openwrt-imagebuilder-18.06.9-ar71xx-generic/package/feeds
/openwrt-imagebuilder-18.06.9-ar71xx-generic/package/openwrt-packages
/openwrt-imagebuilder-18.06.9-ar71xx-generic/build_dir
/openwrt-imagebuilder-18.06.9-ar71xx-generic/staging_dir
/openwrt-imagebuilder-18.06.9-ar71xx-generic/tmp

/openwrt-sdk-18.06.9-ar71xx-generic/env
/openwrt-sdk-18.06.9-ar71xx-generic/bin
/openwrt-sdk-18.06.9-ar71xx-generic/logs
/openwrt-sdk-18.06.9-ar71xx-generic/feeds
/openwrt-sdk-18.06.9-ar71xx-generic/feeds.conf
/openwrt-sdk-18.06.9-ar71xx-generic/overlay
/openwrt-sdk-18.06.9-ar71xx-generic/package/feeds
/openwrt-sdk-18.06.9-ar71xx-generic/package/openwrt-packages
/openwrt-sdk-18.06.9-ar71xx-generic/build_dir
/openwrt-sdk-18.06.9-ar71xx-generic/staging_dir
/openwrt-sdk-18.06.9-ar71xx-genericstaging_dir/tmp

*.o
.DS_Store
.*.swp
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
